
#logos {
    background-color: pink;
    padding: 0%;
    margin-top: 51px;
    margin-left: 135px;
    width: 154.9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




